<div id="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="/">
        <span>
            <div class="material-icons"><img src="/images/icon.png" /></div>
            <span class="icon-text">Home</span>
        </span>
    </a>
    <a href="/settings/">
        <span>
            <div class="material-icons"><img src="/images/cog.png" /></div>
            <span class="icon-text">Settings</span>
        </span>
    </a>
    <a>
        <div class="material-icons" style="text-align: center;">&#8744;</div>
        <span class="icon-text">Games</span>
    </a>
    <a href="/minecraft/">
        <span>
            <div class="material-icons"><img src="/images/minecraft.png" /></div>
            <span class="icon-text-small">Minecraft Stuff</span>
        </span>
    </a>
</div>